* {
  padding: 0;
  margin: 0;
}
#main {
  height: 100%;
  width: 100%;
}

#sectionUpper {
  height: 100%;
  display: flex;
}
#sectionUpper .menu {
  display: flex;
  flex-direction: column;
  width: 60px;
  background: #3a3a3a;
  position: fixed;
  height: 100vh;
  z-index: 100;
}
#sectionUpper .menu .divLan {
  display: flex;
  flex-direction: column;
}
#sectionUpper .menu .divLan img {
  padding-top: 20px;
  height: 40px;
  width: 40px;
  padding-left: 8px;
}
#sectionUpper .menu .divLan img:hover {
  cursor: pointer;
}

.menu-btn {
  cursor: pointer;
  border: 2px solid #fff;
  height: 50px;
  width: 100%;
  position: relative;
  background: rgb(58, 58, 58);
  padding-left: 10px;
}

.iconContact {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

/*  */
#nav_popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#nav_popup.active {
  display: flex;
}

#listInfo {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
}

#closeNav {
  /* display: block; */
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  top: 0;
}

#listInfo .navLink {
  /* justify-content: center;
  align-items: center; */
  padding-top: 15px;
  text-align: center;
  list-style-type: none;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  height: 55px;
}
#listInfo .navLink:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71, 0.6);
  transition: 0.7s;
}

#listInfo .navLink a {
  vertical-align: middle;
  margin-top: 5px;
  text-decoration: none;
  color: #fff;
}
#listInfo .navLink a:hover {
  color: rgb(229, 85, 2);
}

.iconContact a {
  margin-left: 15px;
  color: #fff;
  padding-bottom: 15px;
  font-size: 30px;
}
.iconContact a:hover {
  color: aqua;
  font-size: 35px;
  transition: 0.5s;
  transform: translateY(-7px);
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 33%;
  margin-left: -10px;
  width: 30px;
  height: 2px;
  background: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s;
}
.menu-btn span::before {
  transform: translateY(-7px);
}
.menu-btn span::after {
  transform: translateY(7px);
}
.menu-btn-active span {
  height: 0;
}
.menu-btn-active span:before {
  transform: rotate(35deg);
}
.menu-btn-active span:after {
  transform: rotate(-35deg);
}

#sectionUpper .infoMain {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/background.jpg');
}

.infoMain .infoPerson {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 1px 1px 0 hsl(20, 100%, 50%), 2px 2px 0 hsl(20, 100%, 50%),
    3px 3px 0 hsl(35, 100%, 50%), 4px 4px 0 hsl(35, 100%, 50%),
    5px 5px 0 hsl(45, 100%, 50%), 6px 6px 0 hsl(45, 100%, 55%),
    7px 7px 0 hsl(55, 100%, 60%), 8px 8px 0 hsl(55, 100%, 65%);
  color: hsl(0, 100%, 40%);
  transition: all 1s;
}
#sectionForME {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#sectionForME #myInfo {
  width: 90%;
  height: 500px;
}
.slider-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#myInfo .btns__Info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0 25px 0;
}

#myInfo .btns__Info .bPrev,
.bNext {
  text-decoration: none;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #000;
  font-size: 50px;
  color: #ffffff;
}
.bPrev,
.bNext:hover {
  cursor: pointer;
}
#myInfo #headInfo {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 250px;
  height: 60px;
  background: #000;
  color: #fff;
  line-height: 30px;
}

#myInfo #main__info {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-block {
  font-family: 'Indie Flower', cursive;
  transition: transform 0.7s;
}
.slide {
  display: flex;
  justify-content: space-between;
}
#main__info .text__info {
  font-size: 20px;
  width: 55%;
  padding: 5px;
  font-family: 'Bitter', serif;
}

.text__info .skils__info {
  width: 100%;
}

.img__info {
  margin-right: 5px;
  width: 44%;
  height: 350px;
}
.img__info img {
  max-width: 100%;
  height: 100%;
}
.imgEdu {
  max-width: 43%;
  margin: 0 auto;
}
.imgEdu img {
  border-radius: 25px;
  max-width: 100%;
}
.textEdu {
  width: 50%;
  height: 350px;
  padding-top: 20px;
}
.textEdu h1 {
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}
.textEdu h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.textEdu h3 {
  font-weight: 550;
  margin-bottom: 10px;
}
.textEdu p {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.skils__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skils__info a {
  font-size: 50px;
  padding-right: 80px;
  color: #000000;
}

#plan__work {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(29, 29, 29);
}

#plan__work .main__plan {
  max-width: 1170px;
  margin: auto;
}
.main__plan #headPlan {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 250px;
  height: 60px;
  margin: auto;
  background: #fff;
  color: #000;
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 18px;
  margin-top: 60px;
  border: 1px solid aquamarine;
}

.main__plan .container__plan {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 75px;
}
.main__plan .container__plan #divOne,
#divTwo,
#divThree {
  font-family: 'Hanalei Fill', cursive;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
.main__plan .container__plan a {
  font-size: 60px;
  color: #ffffff;
}
.main__plan .container__plan h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*  */
#portfolio {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: auto;
}
#portfolio #myWorks {
  width: 100%;
}

#head__Work {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 250px;
  height: 60px;
  margin: auto;
  background: #000;
  color: #fff;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  margin-top: 40px;
}

#myWorks #content__work {
  display: flex;
  margin-bottom: 50px;
}

#content__work .img__work {
  width: 51%;
}

#content__work .img__work img {
  /* height: 100%; */
  max-width: 100%;
}

#content__work .text__work {
  font-size: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 10px;
  width: 48%;
}
.text__work h2,
p,
h4 {
  margin-bottom: 17px;
}
.text__work h4 {
  color: #08a0d3;
}

.text__work ul {
  padding-left: 15px;
}

.text__work .btn__info {
  display: block;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  width: 100px;
  background: #fff;
  border: 2px solid #08a0d3;

  font-size: 16px;
  cursor: pointer;
}
.text__work .btn__info a {
  text-decoration: none;
  color: #08a0d3;
}

#contacts {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(29, 29, 29);
}

#contacts #mainContact {
  max-width: 1170px;
  margin: auto;
}
#mainContact #head__contact {
  font-family: 'Poppins', sans-serif;
  border: 2px solid aquamarine;
  text-align: center;
  width: 250px;
  height: 60px;
  margin: auto;
  background: #fff;
  color: #000;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  margin-top: 40px;
}

#mainContact .divForma {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 470px;
  width: 600px;
}
.divForma input {
  padding: 5px;
  border: none;
  border-radius: 2px;
  margin-bottom: 15px;
  height: 35px;
}
.divForma textarea {
  padding: 5px;
  height: 200px;
  border: none;
  border-radius: 2px;
}
.divForma button {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 50px;
  left: 30%;
  border: 2px solid aquamarine;
  border-radius: 4px;
  background: rgb(29, 29, 29);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.divForma button i {
  padding-right: 10px;
}
.divForma button:hover {
  cursor: pointer;
  transition: 1s;
  background: #000;
}

#mainContact .info__contact {
  margin-left: 25px;
  padding-top: 71px;
  padding-bottom: 71px;
  color: rgb(145, 138, 138);
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.info__contact .info__me {
  width: 48%;
}
.info__contact .info__me h2 {
  color: #ffffff;
}
.info__me .line {
  height: 2px;
  width: 120px;
  background: #ffffff;
  margin-top: 5px;
  margin-bottom: 15px;
}

.info__data .line {
  height: 2px;
  width: 120px;
  background: #ffffff;
  margin-top: 5px;
  margin-bottom: 15px;
}
.info__data h2 {
  color: #ffffff;
}

.info__data p {
  font-size: 17px;
  padding-right: 5px;
}
.info__data .phone {
  display: flex;
}
.info__data .phone i {
  font-size: 20px;
  color: #ffffff;
  padding-right: 7px;
}

.info__data .email {
  display: flex;
}
.info__data .email i {
  font-size: 20px;
  color: #ffffff;
  padding-right: 7px;
}

.info__data .geo {
  display: flex;
}
.info__data .geo i {
  font-size: 20px;
  color: #ffffff;
  padding-right: 7px;
}

#footer {
  background: #000;

  width: 100%;
}
#footer .divFoo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 70px; */
  max-width: 1170px;
  margin: auto;
  padding: 10px;
}
#footer .fooEmail {
  font-size: 15px;
  color: aquamarine;
  margin-right: 20px;
  margin-left: 20px;
}
#footer .fooMap {
  color: aquamarine;
  margin-right: 20px;
  margin-left: 20px;
}
#footer .fooName {
  display: flex;
  color: aquamarine;
  margin-right: 20px;
  margin-left: 20px;
}
.fooEmail a,
.fooMap a,
.fooName a {
  color: aquamarine;
  text-decoration: none;
}
.fooEmail a:hover,
.fooMap a:hover,
.fooName a:hover {
  border-bottom: 1px solid aqua;
}
.fooEmail i,
.fooMap i {
  font-size: 17px;
}
#footer .fooName i {
  padding-top: 6px;
  font-size: 17px;
  padding-right: 5px;
}

/*skils*/
.skills-block__list_external {
  width: 73.125%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.skills-block__list_external li {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.skills-block__list_external li .skills-block__list_internal {
  width: 100%;
}
.skills-block__list_external li .skills-block__list_internal li {
  width: 100%;
  margin-bottom: 50px;
}

.description-skills {
  width: 78.63248%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  position: relative;
  margin-bottom: 12px;
}
.description-skills .procent {
  color: black;
  position: absolute;
  left: 17%;
}

.bar-panel {
  width: 78.63248%;
  height: 5px;
  background-color: #0f1012;
}
.bar-panel .bar-line {
  width: 20%;
  height: 5px;
  background-color: #00d7bb;
  position: relative;
}
.bar-panel .bar-line:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #00d7bb;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -55%;
  right: 0;
  z-index: 3;
}
